body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  background: #eee;
  -webkit-user-select: none;
}
a {
  text-decoration: none;
  color: #1b98f8;
}
/* Layout */
h1 {
  margin: 100px 0 20px 0;
  padding: 0 20px;
  color: #fff;
  background: #e62020;
  text-transform: uppercase;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 56px;
  width: 200px;
  background: #fff;
  border-right: 1px solid #ccc;
}
#nav {
  background: transparent;
  border: 0;
  text-align: left;
}
#nav a {
  margin-bottom: 1px;
}
#nav a:hover, #nav a.active {
  background: #eee;
}
#nav .pure-menu-heading {
  border-bottom: 0;
  font-size: 100%;
  color: #e62020;
}
section {
  position: fixed;
  top: 0;
  left: 200px;
  bottom: 56px;
  right: 0px;
  padding: 20px;
  overflow: auto;
}

body.loading::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8) url(../img/loading.gif) center center no-repeat;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 26px;
  text-align: center;
  background: white;
  padding: 15px 0;
  border-top: 1px solid #ccc;
}

.progress {
  position: absolute;
  top: -1px;
  width: 0;
  height: 2px;
  background: rgb(230, 32, 32);
}
.selected {
  font-weight: bold;
}
