<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <meta charset=utf-8 />
  <title>DB Music</title>
  <link rel="icon" type="image/png" href="img/favicon-128.png">
  <link rel="stylesheet" href="css/pure-min.css">
  <link rel="stylesheet" href="css/style.css" />
</head>
<body class="loading" data-ng-controller="MainCtrl">
  <div class="main ng-cloak">
    <header data-ng-show="dropbox.isLoggedIn()">
      <h1>DB Music</h1>
      <form class="pure-form search-form" data-ng-submit="search()">
        <input class="search-box" type="text" placeholder="Search music..." data-ng-model="query" data-ng-trim="false" />
      </form>
      <div class="scan-msg">{{scanMessage}}</div>
      <div class="links">
        <span class="name">{{dropbox.getAccountName()}}</span>
        <a href="#/settings">Settings</a>
        <a href="#/logout">Logout</a>
      </div>
    </header>

    <nav class="pure-menu pure-menu-open" id="nav" data-ng-show="dropbox.isLoggedIn()">
      <ul data-active-link="active">
        <li><span class="pure-menu-heading">Library</span></li>
        <li><a href="#/artists">Artists</a></li>
        <li><a href="#/albums">Albums</a></li>
        <li><a href="#/songs">Songs</a></li>
        <li><a href="#/genres">Genres</a></li>
        <li><a href="#/queue">Queue</a></li>
      </ul>
    </nav>

    <div data-ng-view class="content">
    </div>

    <div class="player" data-ng-controller="PlayerCtrl" data-ng-show="dropbox.isLoggedIn()">
      <audio data-ng-src="{{src}}" autoplay></audio>
      <div class="seekbar" data-ng-show="src">
        <input type="range" step="any" class="seek" />
        <div class="progress" data-ng-style="{width: progress+'%'}"></div>
      </div>
      <div class="controls">
        <button data-ng-click="prev()" class="ctrl-btn ctrl-btn-prev"></button>
        <button data-ng-click="play()" data-ng-show="!playing" class="ctrl-btn ctrl-btn-play"></button>
        <button data-ng-click="pause()" data-ng-show="playing" class="ctrl-btn ctrl-btn-pause"></button>
        <button data-ng-click="next()" class="ctrl-btn ctrl-btn-next"></button>
      </div>
      <div class="volume">
        <img src="img/volume.png" class="icon"/>
        <div data-ng-repeat="n in [] | range:10"
          data-value="{{$index+1}}"
          data-ng-attr-class="{{$index+1 <= volume && 'bar active' || 'bar'}}">
        </div>
      </div>
      <div class="current-song">
        <div data-col="name" title="{{song.get('name')}}">
          {{song.get("name")}}
          <span data-ng-show="scrobbled" class="scrobbled" title="Scrobbled!">✓</span>
        </div>
        <div data-col="artist" title="{{song.get('artist')}}">{{song.get("artist")}}</div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="songs/list">
    <h2 data-ng-show="!hideHeading">Songs</h2>
    <p data-ng-show="!songs.length">No Songs</p>
    <table class="pure-table pure-table-horizontal songs-list" data-ng-show="songs.length">
      <thead>
        <tr>
          <td data-col="index">#</td>
          <td data-col="name">Name</td>
          <td data-col="artist">Artist</td>
          <td data-col="album">Album</td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="song in (filteredSongs = (songs | orderBy:orderByName)) track by $index" data-ng-dblclick="play()">
          <td data-col="index">
            <span>{{$index+1}}</span>
            <button data-ng-click="addToQueue(song)" title="Add to Queue" class="add-to-queue">+</button>
          </td>
          <td data-col="name">
            {{song.get("name")}}
          </td>
          <td data-col="artist"><a href="#/artist/{{song.get('artist')}}">{{song.get("artist")}}</a></td>
          <td data-col="album"><a href="#/artist/{{song.get('artist')}}/album/{{song.get('album')}}">{{song.get("album")}}</a></td>
        </tr>
      </tbody>
    </table>
  </script>

  <script type="text/ng-template" id="albums/list">
    <h2 data-ng-show="!hideHeading">Albums</h2>
    <p data-ng-show="!albums.length">No Albums</p>
    <ul class="cards" data-ng-show="albums.length">
      <li data-ng-repeat="album in (albums | orderBy:orderByName) track by $index" class="card card-album">
        <a href="#/artist/{{album.get('artist')}}/album/{{album.get('name')}}" title="{{album.get('name')}}">
          <img data-ng-src="{{album.get('image') || 'img/default_art.png'}}" />
          <p class="title">{{album.get("name")}}</p>
        </a>
      </li>
    </ul>
  </script>

  <script type="text/ng-template" id="albums/show">
    <img data-ng-src="{{album.get('image') || 'img/default_art.png'}}" class="album-image"/>
    <h2>{{album.get("name")}} <a class="action" data-ng-click="addAlbumToQueue()">+ Add to Queue</a></h2>
    <h3><a href="#/artist/{{album.get('artist')}}">{{album.get("artist")}}</a></h3>
    <div data-ng-include="'songs/list'" data-ng-init="hideHeading=true"></div>
  </script>

  <script type="text/ng-template" id="artists/list">
    <h2 data-ng-show="!hideHeading">Artists</h2>
    <p data-ng-show="!artists.length">No Artists</p>
    <ul class="cards" data-ng-show="artists.length">
      <li data-ng-repeat="artist in (artists | orderBy:orderByName) track by $index" class="card card-artist">
        <a href="#/artist/{{artist.get('name')}}" title="{{artist.get('name')}}">
          <img data-ng-src="{{artist.get('image') || 'img/default_art.png'}}" />
          <p class="title">{{artist.get("name")}}</p>
        </a>
      </li>
    </ul>
  </script>

  <script type="text/ng-template" id="artists/show">
    <h2>{{artist.get("name")}} <a href="#/artist/{{artist.get('name')}}/mixtape" class="action">♫ Create a Mixtape</a></h2>
    <h3>Albums</h3>
    <div data-ng-include="'albums/list'" data-ng-init="hideHeading=true"></div>
    <h3>Songs</h3>
    <div data-ng-include="'songs/list'" data-ng-init="hideHeading=true"></div>
  </script>

  <script type="text/ng-template" id="artists/mixtape">
    <h2>Mixtape for {{artist.get("name")}}</h2>
    <p data-ng-show="!loaded">Loading...</p>
    <div data-ng-show="loaded" data-ng-include="'songs/list'" data-ng-init="hideHeading=true"></div>
  </script>

  <script type="text/ng-template" id="genres/list">
    <h2>Genres</h2>
    <p data-ng-show="!genres.length">No Genres</p>
    <table class="pure-table pure-table-horizontal" data-ng-show="genres.length" >
      <thead>
        <tr><td>Genre</td></tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="genre in genres"><td><a href="#/genre/{{genre.get('name')}}">{{genre.get("name")}}</a></td></tr>
      </tbody>
    </table>
  </script>

  <script type="text/ng-template" id="genres/show">
    <h2>{{genre.get("name")}}</h2>
    <h3>Albums</h3>
    <div data-ng-include="'albums/list'" data-ng-init="hideHeading=true"></div>
    <h3>Songs</h3>
    <div data-ng-include="'songs/list'" data-ng-init="hideHeading=true"></div>
  </script>

  <script type="text/ng-template" id="queue">
    <h2>Queue <a class="action" data-ng-click="clearQueue()" data-ng-show="songs.length">× Clear Queue</a></h2>
    <p data-ng-show="!songs.length">The queue is currently empty</p>
    <table class="pure-table pure-table-horizontal songs-list" data-ng-show="songs.length">
      <thead>
        <tr>
          <td data-col="index">#</td>
          <td data-col="name">Name</td>
          <td data-col="artist">Artist</td>
          <td data-col="album">Album</td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="song in songs track by $index" data-ng-dblclick="play()" data-ng-class="{selected: $index==nowPlaying}">
          <td data-col="index">{{$index+1}}</td>
          <td data-col="name">{{song.get("name")}}</td>
          <td data-col="artist"><a href="#/artist/{{song.get('artist')}}">{{song.get("artist")}}</a></td>
          <td data-col="album"><a href="#/artist/{{song.get('artist')}}/album/{{song.get('album')}}">{{song.get("album")}}</a></td>
        </tr>
      </tbody>
    </table>
  </script>

  <script type="text/ng-template" id="search">
    <h2>Results</h2>
    <p data-ng-show="!songs.length && !albums.length && !artists.length">No results found</p>
    <div class="results">
      <div data-ng-show="artists.length">
        <h3>Artists</h3>
        <div data-ng-include="'artists/list'" data-ng-init="hideHeading=true"></div>
      </div>
      <div data-ng-show="albums.length">
        <h3>Albums</h3>
        <div data-ng-include="'albums/list'" data-ng-init="hideHeading=true"></div>
      </div>
      <div data-ng-show="songs.length">
        <h3>Songs</h3>
        <div data-ng-include="'songs/list'" data-ng-init="hideHeading=true"></div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="login">
    <div class="login">
      <img src="img/logo.png" />
      <div class="title">DB Music</div>
      <div class="subtitle">Play tunes from your Dropbox, with Music Library support.</div>
      <button class="pure-button" data-ng-click="login()">Login to Dropbox</button>
      <p data-ng-show="msg">{{msg}}</p>
    </div>
  </script>

  <script type="text/ng-template" id="logout">
    <p>Logging Out...</p>
  </script>
  
  <script type="text/ng-template" id="settings">
    <h2>Settings</h2>

    <h3>Music Library</h3>
    <p>Songs in your Dropbox: <strong>{{songsCount}}</strong></p>
    <p>
      <button class="pure-button pure-button-primary" data-ng-click="scanDropbox()">Scan Dropbox</button>
      <span>{{msg || "Finds all audio files in your Dropbox and builds the Music Library."}}</span>
    </p>
    <p>
      <button class="pure-button pure-button-primary" data-ng-click="resetLibrary()">Reset Music Library</button>
      <span>{{reset_msg || "Resets the Music Library and scans again! Your files will not be deleted."}}</span>
    </p>

    <h3>Last.fm</h3>
    <p data-ng-show="!lastfmName">
      <button class="pure-button pure-button-primary" data-ng-click="logIntoLastfm()">Login to Last.fm</button>
      <span>Scrobble the music you listen to.</span>
    </p>
    <p data-ng-show="lastfmName">
      <span>Scrobbling as <a href="http://www.last.fm/user/{{lastfmName}}" target="_blank">{{lastfmName}}</a>.</span>
    </p>
  </script>

  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/dropbox-datastores-0.1.0-b6.js"></script>
  <script src="js/lib/lastfm.min.js"></script>
  <script src="js/lib/id3.min.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
